
/*
==========================================================
Empiezan estilos para cambiar los colores principales del
menu
==========================================================
*/

/*dummy-logo*/
.dummy-logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 120px;
	padding: 1em 0 0 0;
	text-align: center;
	color: #3b3d4a;
	/*Cambio de color - parte superior de menu lateral izquierdo*/
	background: #1c1d22;
}

/*=========================================
	Resets
===========================================*/
*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

/*cf*/
.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

/*cf*/
.cf:after {
	clear: both;
}


/*=========================================
	Main styles - estilos propios de html
===========================================*/

.body_menu {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	overflow: hidden;
	margin: 0;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text_menu {
	text-decoration: none;
	color: #fff;
	outline: none;
}

.text_menu:hover {
	color: #ddd;
}

/*menu_container*/
.menu_container {
	overflow-y: auto;
	height: 100vh;
}

/*=========================================
	Blueprint header
===========================================*/

/*bp-header*/
.bp-header {
	display: -webkit-flex;
	display: flex;
}

/*bp-header__main*/
.bp-header__main {
	margin: 0 0 0 auto;
	padding: 2em 3em 0;
	text-align: right;
}

/*bp-header__present*/
.bp-header__present {
	font-size: 0.75em;
	font-weight: 700;
	position: relative;
	z-index: 100;
	display: block;
	margin: 0 -8px 0 0;
	padding: 0 0 0.6em 0;
	text-indent: 3px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #5c5edc;
}



/*content*/
.content {
	position: relative;
	min-height: 300px;
	margin: 0 0 0 300px;
}

.content--loading {
	background: url(../img/loading.svg) no-repeat 50% 50%;
}

/*se ocupa*/
@media screen and (max-width: 40em) {
	.bp-header {
		padding-top: 3em;
	}
	.bp-header__main,
	.bp-nav {
		width: 100%;
		text-align: center;
	}
	.dummy-logo {
		display: none;
	}
	.content {
		margin: 0;
	}
	body,
	.container {
		height: auto;
		overflow: auto;
	}
}
